<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button 
            mat-icon-button 
            matTooltip="Application Info"
            matTooltipPosition="right" 
            aria-label="Info"
            (click)="openInfoDialog()">
            <mat-icon>info</mat-icon>
        </button>
        <span class="example-spacer"></span>
        <!-- <mat-icon style="margin-right: 0.2em;">movie</mat-icon> -->
        <!-- <span> ~ Movies ~ </span> -->
        <span>Movies</span>
        <!-- <mat-icon style="margin-left: 0.2em;">movie</mat-icon> -->
        <span class="example-spacer"></span>
        <button 
            mat-icon-button 
            matTooltip="Refresh Movies"
            matTooltipPosition="below" 
            aria-label="Refresh Movies"
            (click)="reloadPage()">
            <mat-icon>autorenew</mat-icon>
        </button>
        <button
            mat-icon-button 
            matTooltip="New Movie"
            matTooltipPosition="below" 
            aria-label="Switch view"
            (click)="showAddMovieDialog()">
            <mat-icon>add</mat-icon>
        </button>
        <button 
            mat-icon-button 
            matTooltip="Switch view"
            matTooltipPosition="left" 
            aria-label="Switch view"
            [routerLink]="getSwitchUrl()"
            (click)="showSwitchViewSnackbar()">
            <mat-icon>swap_horiz</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>