<mat-toolbar color="primary">
    <mat-toolbar-row>
        <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button> -->
        <span>Simple CRUD UI</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with switch account">
            <mat-icon>switch_account</mat-icon>
        </button> 
    </mat-toolbar-row>
</mat-toolbar>