<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button 
            mat-icon-button 
            matTooltip="Application Info"
            matTooltipPosition="right" 
            aria-label="Info"
            (click)="openInfoDialog()">
            <mat-icon>info</mat-icon>
        </button>
        <span class="example-spacer"></span>
        <span>
            Simple CRUD UI
        </span>
        <span class="example-spacer"></span>
        <button 
            mat-icon-button 
            matTooltip="Switch view"
            matTooltipPosition="left" 
            aria-label="Switch view"
            [routerLink]="getSwitchUrl()"
            (click)="showSwitchViewSnackbar()">
            <mat-icon>swap_horiz</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>